<form class="edit-post-form">
    <div>
        <div>
            {{!-- <label class="create-post-title" for="post-title"></label> --}}
            <input class="create-post-title mt-2 post-body" type="text" id="post-title" placeholder="{{post.title}}"
                name="post-title" />
        </div>  
        <div>
            <input class="create-post-body mt-2" id="event-date" placeholder="{{post.event_date}}" name="event-date"></input>
        </div>
        <div>
            {{!-- <label class="create-post-body" for="post-body"></label> --}}
            <input class="create-post-body mt-2" id="post-body" placeholder="{{post.post_content}}" name="post-body"></input>
        </div>
    </div>
    <div class="dashboard-date-style">
        {{format_date post.created_at}}
        {{!-- <a href="/post/{{}}">{{post.comments.length}} {{format_plural "comment" post.comments.length}}</a> --}}
    </div>
    <button type="submit">Save post</button>
    <button type="button" class="delete-post-btn">Delete post</button>
</form>

<script src="/javascript/delete-post.js"></script>
<script src="/javascript/edit-post.js"></script>