<ul class="post-list">
{{#each posts as |post|}}
<li>
    <article class="post">
        <div class="title">
            <span>{{post.id}}</span><span>{{post.title}}</span>
            <span>{{post.post_content}}</span>
        </div>
        <div class="post-metadata">
            {{post.likes_count}} {{format_plural "Killer" post.likes_count}} Going 
            <a href="/post/{{post.id}}">{{post.comments.length}} {{format_plural "Comment" post.comments.length}})</a>
        </div>
    </article>
</li>
{{/each}}
</ul>