<h2>Notifications</h2>
<ul>
  {{#each mentions}}
  <li>
    {{comment.user.username}} mentioned you in a comment on <a href="/post/{{comment_id}}">{{format_date comment.created_at}} - {{comment.post.title}}</a>
    <div>
      {{comment.comment_text}}
    </div>
  </li>
  {{/each}}
</ul>
