<article class="post">
    <div class="title">
        <span>{{post.id}}</span><span>{{post.title}}</span>
        <span>{{post.post_content}}</span>
    </div>
    <div class="post-metadata">
        {{post.likes_count}} Killer(s) Going <a href="/post/{{post.id}}">{{post.comments.length}} Comment(s)</a>
    </div>
</article>


{{> comments post.comments}}


{{#if loggedIn}}
<form class="comment-form">
    <div>
        <textarea name="comment-body"></textarea>
    </div>
    <div>
        <button type="submit">Submit</button>
    </div>
</form>
{{/if}}