{{!-- <article class="post">
    <div class="title card event-title">
        <div class="card-body">
            <span>{{post.id}}</span><span>{{post.title}}</span>
            <span>{{post.post_content}}</span>

            <div class="post-metadata">
                {{post.likes_count}} {{format_plural "Killer" post.likes_count}} Going
            </div>
            {{> comments post.comments}}
        </div>
    </div>
    {{#if loggedIn}}
    <div>
        <button type="button" class="upvote-btn rounded-btn">I'm interested in going</button>
    </div>
    {{/if}}
</article> --}}

<article class="post">
    <div class="title card event-title">
        <h3>{{post.title}}</h3>
        <p>{{post.post_content}}</p>

        <div class="post-metadata">
            <span class="killers-going">{{post.likes_count}} {{format_plural "Killer" post.likes_count}}
                Going</span> |
            <a href="/post/{{post.id}}">{{post.comments.length}}
                {{format_plural "Comment" post.comments.length}}</a>
        </div>
        {{> comments post.comments}}
    </div>
    {{#if loggedIn}}
    <div>
        <button type="button" class="upvote-btn rounded-btn">I'm interested in going</button>
    </div>
    {{/if}}
</article>



{{#if loggedIn}}
<link rel="stylesheet" href="/javascript/tributejs/tribute.css" />
<br>
<br>
<form class="comment-form">
    <div>
        <textarea name="comment-body"></textarea>
    </div>
    <div>
        <button class="rounded-btn" type="submit">SUBMIT</button>
    </div>
</form>
<script src="/javascript/tributejs/tribute.min.js"></script>
<script src="/javascript/comment.js"></script>
<script src="/javascript/likes.js"></script>
{{/if}}